<form method="post" action="{{ path('app_park_delete', {'id': park.id}) }}" onsubmit="return confirm('Confirmer la suppression de ce parc ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ park.id) }}">
    <button class="btn btn-warning">Supprimer</button>
</form>
